html {
  scrollbar-width: none; }

body {
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    display: none; }
  body .main-wrapper {
    margin: 0 auto;
    padding: 0;
    font-family: 'Apex New Book', sans-serif;
    transition: all 0.5s ease-in-out;
    color: #fff;
    overflow-x: hidden;
    min-height: 100vh; }
  body span {
    opacity: 1 !important; }
  body .font-lg {
    font-size: 22px; }
    @media screen and (max-width: 768px) {
      body .font-lg {
        font-size: 20px; } }
  body .font-md {
    font-size: 20px; }
    @media screen and (min-width: 769px) and (max-width: 1199.98px) {
      body .font-md {
        font-size: 18px; } }
    @media screen and (max-width: 768px) {
      body .font-md {
        font-size: 16px; } }
  body .font-sm {
    font-size: 18px; }
    @media screen and (min-width: 769px) and (max-width: 1199.98px) {
      body .font-sm {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      body .font-sm {
        font-size: 14px; } }

.thin {
  font-family: 'Apex New Thin', sans-serif; }

.bold {
  font-family: 'Apex New Bold', sans-serif; }

.light {
  font-family: 'Apex New Light', sans-serif; }

.meduim {
  font-family: 'Apex New Medium', sans-serif; }

.italic {
  font-family: 'Apex New Book Italic', sans-serif; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize !important; }

.visible {
  opacity: 1 !important;
  visibility: visible !important; }

h1,
h2,
h3,
h4 {
  margin-bottom: 0; }

h1,
h2 {
  text-transform: uppercase; }

h1 {
  font-size: 3rem; }
  @media screen and (max-width: 1226px) {
    h1 {
      font-size: 2.2rem !important; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem !important; } }

h2 {
  font-size: 2.1rem; }
  @media screen and (max-width: 1199.98px) {
    h2 {
      font-size: 1.5rem !important; } }

h3 {
  font-size: 1.55rem; }
  @media screen and (max-width: 1199.98px) {
    h3 {
      font-size: 1.25rem !important; } }

h4 {
  font-size: 1.45rem; }
  @media screen and (max-width: 1199.98px) {
    h4 {
      font-size: 1rem !important; } }

p {
  margin-bottom: 0;
  text-align: justify; }
  @media screen and (max-width: 1226px) {
    p {
      font-size: 14px; } }

ul,
ol {
  list-style: none;
  margin-bottom: 0; }

a {
  color: white; }
  a:hover {
    color: white;
    text-decoration: none; }
  a.btn-primary {
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    color: black; }
    a.btn-primary:hover, a.btn-primary:active, a.btn-primary:focus {
      background-color: transparent;
      border: 1px solid white;
      outline: 0;
      border-radius: 0;
      color: white; }
  a.btn-secondary {
    background-color: #a60d2e !important;
    border: 1px solid #a60d2e !important;
    border-radius: 0;
    color: white; }
    a.btn-secondary.arrow-down svg {
      fill: white;
      transform: rotate(90deg); }
    a.btn-secondary:hover, a.btn-secondary:active, a.btn-secondary:focus {
      background-color: #a60d2e;
      border: 1px solid #a60d2e;
      outline: 0;
      border-radius: 0;
      color: #a60d2e; }

button {
  text-transform: capitalize;
  border-radius: 0 !important; }
  button:focus {
    outline: none;
    box-shadow: none; }
  button.large-btn {
    width: 250px; }
  button.md-btn {
    width: 220px; }
  button.large-btn, button.md-btn {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    button.large-btn .black-arrow, button.md-btn .black-arrow {
      display: none; }
    button.large-btn:hover .black-arrow, button.md-btn:hover .black-arrow {
      display: block; }
    button.large-btn:hover .white-arrow, button.md-btn:hover .white-arrow {
      display: none; }

.btn:focus {
  outline: none;
  box-shadow: none; }

.y-padding {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media screen and (max-width: 768px) {
    .y-padding {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.carousel-inner {
  height: 100%; }
  .carousel-inner .carousel-item {
    height: 100%; }
    .carousel-inner .carousel-item .item {
      height: 100%; }

.owl-next,
.owl-prev {
  width: 50px;
  background-color: #a60d2e !important;
  height: 50px;
  top: 15%;
  opacity: 1;
  z-index: 999; }
  .owl-next:focus,
  .owl-prev:focus {
    outline: none; }
  @media screen and (max-width: 767.98px) {
    .owl-next,
    .owl-prev {
      width: 30px;
      height: 30px; } }

.owl-prev > img {
  transform: rotate(180deg); }

.left span,
.left p {
  opacity: 0.7; }

.carousel-control-container {
  position: relative;
  width: 150px;
  height: 70px;
  margin-left: 74%; }
  @media screen and (max-width: 767.98px) {
    .carousel-control-container {
      width: 100%;
      margin-left: 0;
      top: -60% !important; } }

.responsive-header {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 16px; }

.collapse-arrow {
  transform: rotate(90deg); }

section {
  max-width: 100%; }
  @media screen and (max-width: 767.98px) {
    section {
      flex-direction: column !important; } }

html {
  margin-top: 0 !important; }

header {
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  @media screen and (max-width: 1199.98px) {
    header {
      height: 3rem; } }
  header nav {
    background-color: #0F1014;
    height: 100%;
    padding: 0px !important; }
    header nav #mainNavbarContent {
      height: 100%; }
      @media screen and (max-width: 767.98px) {
        header nav #mainNavbarContent {
          background-color: #1E2027;
          height: auto;
          position: absolute;
          left: 0;
          width: 100%;
          top: 3rem; } }
      header nav #mainNavbarContent .navbar-nav {
        align-items: center;
        height: 100%; }
        @media screen and (max-width: 767.98px) {
          header nav #mainNavbarContent .navbar-nav {
            align-items: flex-start;
            height: auto; } }
        header nav #mainNavbarContent .navbar-nav .nav-item {
          height: 100%;
          padding: 0.7rem 16px;
          border-right: 1px solid #000;
          display: flex !important;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          @media screen and (max-width: 767.98px) {
            header nav #mainNavbarContent .navbar-nav .nav-item {
              border-right: 0;
              width: 100%;
              justify-content: flex-start; } }
          @media screen and (min-width: 768px) and (max-width: 991.98px) {
            header nav #mainNavbarContent .navbar-nav .nav-item {
              padding: 0.7rem 8px; } }
          header nav #mainNavbarContent .navbar-nav .nav-item.show {
            background-color: #a60d2e; }
            @media screen and (max-width: 767.98px) {
              header nav #mainNavbarContent .navbar-nav .nav-item.show {
                background-color: transparent; } }
            header nav #mainNavbarContent .navbar-nav .nav-item.show .nav-link:focus {
              outline: none;
              box-shadow: none; }
            header nav #mainNavbarContent .navbar-nav .nav-item.show .nav-link:after {
              color: #fff !important;
              transform: rotate(90deg); }
              @media screen and (max-width: 767.98px) {
                header nav #mainNavbarContent .navbar-nav .nav-item.show .nav-link:after {
                  transform: none; } }
            @media screen and (max-width: 767.98px) {
              header nav #mainNavbarContent .navbar-nav .nav-item.show .dropdown-menu {
                display: block !important; } }
          header nav #mainNavbarContent .navbar-nav .nav-item:not(:first-of-type).active {
            background-color: #a60d2e; }
          header nav #mainNavbarContent .navbar-nav .nav-item .nav-link {
            color: #fff !important;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%; }
            @media screen and (max-width: 991.98px) {
              header nav #mainNavbarContent .navbar-nav .nav-item .nav-link {
                width: 100%;
                justify-content: flex-start; } }
            @media screen and (max-width: 1226px) {
              header nav #mainNavbarContent .navbar-nav .nav-item .nav-link {
                font-size: 13px; } }
            header nav #mainNavbarContent .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
              color: #a60d2e;
              position: relative;
              left: 10px;
              border: 0;
              content: "\f054";
              width: 10px;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              font-size: 11px; }
          header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type {
            position: relative; }
            header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu {
              width: 100vw;
              top: 3.9rem;
              margin-top: 0;
              position: fixed;
              z-index: 999;
              border: 0;
              border-radius: 0; }
              header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu::-webkit-scrollbar {
                width: 0; }
              @media screen and (min-width: 992px) {
                header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu {
                  height: 32rem; } }
              @media screen and (max-width: 991.98px) {
                header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu {
                  min-height: 21rem;
                  height: 1px;
                  overflow: auto; } }
              @media screen and (max-width: 767.98px) {
                header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu {
                  min-height: calc(100vh - 3rem);
                  display: none;
                  left: 800px;
                  background-color: #1E2027;
                  border-radius: 0;
                  top: 3rem; }
                  header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu.show {
                    animation: slideInLeft 1s ease-in-out;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1; }
                  header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu.slideOut {
                    animation: slideOutLeft 1s ease-in-out;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1; } }
              @media screen and (min-width: 768px) and (max-width: 1199.98px) {
                header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu {
                  top: 3rem; } }
              header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .back-menu img {
                transform: scaleX(-1); }
              header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner {
                display: flex !important;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center; }
                @media screen and (min-width: 768px) {
                  header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner {
                    height: 100% !important; } }
                header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left {
                  width: 100%;
                  height: 25%;
                  background-color: #1E2027; }
                  @media screen and (max-width: 767.98px) {
                    header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left {
                      width: 100%; } }
                  header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner {
                    width: 100%;
                    height: 100%;
                    display: flex !important;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center; }
                    @media screen and (max-width: 767.98px) {
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner {
                        display: flex !important;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center; } }
                    header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item {
                      height: 100%;
                      position: relative;
                      display: flex !important;
                      flex-direction: column;
                      justify-content: space-evenly;
                      align-items: center; }
                      @media screen and (max-width: 767.98px) {
                        header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item {
                          height: 200px; } }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item img {
                        width: 240px; }
                        @media screen and (max-width: 767.98px) {
                          header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item img {
                            width: 400px; } }
                        @media screen and (min-width: 768px) and (max-width: 991.98px) {
                          header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item img {
                            width: 200px; } }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item:hover, header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item.active, header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item:focus {
                        background-color: #0F1014;
                        outline: 0; }
                        header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item:hover:before, header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item.active:before, header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item:focus:before {
                          position: absolute;
                          content: "";
                          width: 5px;
                          background-color: #a60d2e;
                          animation: increaseBorder 0.5s ease-in-out;
                          animation-fill-mode: forwards;
                          animation-iteration-count: 1;
                          right: 0;
                          top: 0; }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-left .dropdown-menu-left-inner .dropdown-item span {
                        color: #fff; }
                header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom {
                  display: flex !important;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;
                  width: 100%;
                  height: 75%; }
                  header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim {
                    width: 50%;
                    height: 100%;
                    background-color: #0F1014;
                    color: #fff; }
                    @media screen and (max-width: 767.98px) {
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim {
                        display: none; } }
                    header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner {
                      display: flex !important;
                      flex-direction: column;
                      justify-content: center;
                      align-items: flex-start;
                      height: 100%;
                      padding: 0 90px;
                      position: relative; }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner .meduim-inner-contain {
                        position: absolute;
                        left: 15%;
                        right: 15%;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: visibility 0.7s ease-in-out, opacity 0.7s ease-in-out; }
                        @media screen and (min-width: 768px) and (max-width: 991.98px) {
                          header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner .meduim-inner-contain {
                            left: 10%; } }
                        header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner .meduim-inner-contain.isHover {
                          visibility: hidden;
                          opacity: 0; }
                          header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner .meduim-inner-contain.isHover img {
                            width: 170px; }
                            header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner .meduim-inner-contain.isHover img.w-larger {
                              width: 220px !important; }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner * {
                        margin-bottom: 16px; }
                        @media screen and (min-width: 768px) and (max-width: 991.98px) {
                          header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner * {
                            margin-bottom: 8px; } }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner h4 {
                        line-height: 1.5; }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner p {
                        opacity: 0.6; }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-meduim .dropdown-menu-meduim-inner a {
                        color: #fff;
                        background-color: #a60d2e;
                        padding: 8px 16px; }
                  header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-right {
                    width: 50%;
                    height: 100%;
                    position: relative; }
                    @media screen and (max-width: 767.98px) {
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-right {
                        display: none; } }
                    header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-right .dropdown-menu-right-inner {
                      width: 100%;
                      height: 100%;
                      background-size: cover !important;
                      background-repeat: no-repeat !important;
                      background-position: 57% 57%;
                      position: absolute;
                      transition: visibility 0.7s ease-in-out, opacity 0.7s ease-in-out; }
                      header nav #mainNavbarContent .navbar-nav .nav-item:first-of-type .dropdown-menu .dropdown-menu-inner .dropdown-menu-bottom .dropdown-menu-right .dropdown-menu-right-inner.isHover {
                        visibility: hidden;
                        opacity: 0; }
    header nav .navbar-brand {
      width: 150px;
      margin: 0 -10px;
      padding: 5px; }
      @media screen and (max-width: 1226px) {
        header nav .navbar-brand {
          width: 120px; } }
    header nav .navbar-toggler {
      padding: 0;
      background-color: #a60d2e;
      height: 100%;
      border: 0; }
      header nav .navbar-toggler:focus {
        outline: none; }
      header nav .navbar-toggler .navbar-toggler-icon {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: none;
        color: #fff;
        font-size: 1.5rem; }
        header nav .navbar-toggler .navbar-toggler-icon .fa-times {
          display: none; }
        header nav .navbar-toggler .navbar-toggler-icon.close .fa-times {
          display: block; }
        header nav .navbar-toggler .navbar-toggler-icon.close .fa-bars {
          display: none; }
    header nav .ezz-logo {
      margin-left: auto; }
      header nav .ezz-logo img {
        width: 125px; }
        @media screen and (max-width: 1226px) {
          header nav .ezz-logo img {
            width: 90px; } }

@keyframes increaseBorder {
  0% {
    height: 0px; }
  100% {
    height: 100%; } }

@keyframes slideInLeft {
  0% {
    left: 800px; }
  100% {
    left: 0; } }

@keyframes slideOutLeft {
  0% {
    left: 0; }
  100% {
    left: 800px; } }

#sticky-sidenav {
  position: fixed;
  top: 50%;
  right: 0;
  width: 231px;
  transform: translateX(175px) translateY(-50%);
  transition: all 0.5s ease-in-out;
  z-index: 18; }
  @media screen and (max-width: 575.98px) {
    #sticky-sidenav {
      transform: translateX(0) translateY(0);
      bottom: 0;
      top: auto;
      width: 100%;
      height: 3.5rem;
      display: flex !important;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; } }
  @media screen and (max-width: 575.98px) {
    #sticky-sidenav .sidebar-element-container {
      width: calc(100% / 3);
      padding: 0;
      border-right: 1px solid rgba(222, 226, 230, 0.26); } }
  @media screen and (max-width: 575.98px) {
    #sticky-sidenav .sidebar-element-container:last-of-type {
      border-right: 0; } }
  #sticky-sidenav .sidebar-element-container .sidebar-content {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (max-width: 575.98px) {
      #sticky-sidenav .sidebar-element-container .sidebar-content {
        height: 100%;
        flex-direction: row;
        justify-content: center; } }
    @media screen and (max-width: 575.98px) {
      #sticky-sidenav .sidebar-element-container .sidebar-content .widgettitle {
        display: none !important; } }
  #sticky-sidenav.active {
    transform: translateX(0) translateY(-50%); }
    @media screen and (max-width: 575.98px) {
      #sticky-sidenav.active {
        transform: translate(0); } }

footer {
  background-color: #15161B;
  color: #fff;
  width: 100%;
  padding: 5rem 0 0 0;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 575.98px) {
    footer {
      align-items: flex-start;
      padding: 2rem 0 0; } }
  @media screen and (max-width: 767.98px) {
    footer {
      padding: 2rem 0 0; } }
  @media screen and (max-width: 575.98px) {
    footer {
      margin-bottom: 3rem; } }
  @media screen and (max-width: 767.98px) {
    footer h3 {
      padding: 1rem;
      margin: auto; } }
  footer .list-group {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    @media screen and (max-width: 575.98px) {
      footer .list-group {
        width: 100%;
        flex-direction: column;
        align-items: flex-start; } }
    footer .list-group.footer-sitemap {
      width: 60%;
      margin: 4rem 0; }
      @media screen and (max-width: 767.98px) {
        footer .list-group.footer-sitemap {
          width: 100%;
          padding: 0 2rem;
          margin: 2rem 0; } }
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        footer .list-group.footer-sitemap {
          width: 88%; } }
      footer .list-group.footer-sitemap .list-group-inner {
        width: calc(100% / 3);
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center; }
        @media screen and (max-width: 575.98px) {
          footer .list-group.footer-sitemap .list-group-inner {
            width: 100%;
            align-items: flex-start;
            text-align: left;
            margin-bottom: 1.5rem; } }
        footer .list-group.footer-sitemap .list-group-inner h4 {
          font-size: 1.35rem;
          margin-bottom: 1.5rem;
          text-transform: uppercase; }
          @media screen and (max-width: 1199.98px) {
            footer .list-group.footer-sitemap .list-group-inner h4 {
              margin-bottom: 1rem; } }
        footer .list-group.footer-sitemap .list-group-inner ul {
          padding-left: 0; }
          footer .list-group.footer-sitemap .list-group-inner ul li {
            opacity: 0.6;
            text-transform: capitalize;
            margin-bottom: 14px; }
            @media screen and (max-width: 1199.98px) {
              footer .list-group.footer-sitemap .list-group-inner ul li {
                margin-bottom: 8px; } }
    footer .list-group.social-media-icons {
      justify-content: space-evenly;
      align-items: center;
      width: 180px;
      margin-bottom: 4rem; }
      @media screen and (max-width: 575.98px) {
        footer .list-group.social-media-icons {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 2rem;
          padding-left: 2rem; } }
      footer .list-group.social-media-icons li {
        height: 100%; }
    footer .list-group.language {
      width: 12%;
      text-transform: uppercase; }
      @media screen and (max-width: 767.98px) {
        footer .list-group.language {
          width: 40%;
          flex-direction: row;
          justify-content: space-between; } }
      footer .list-group.language .active {
        font-family: 'Apex New Bold', sans-serif; }
  footer .copy-right {
    width: 100%;
    background-color: #000;
    height: 45px;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    @media screen and (max-width: 767.98px) {
      footer .copy-right {
        padding: 12px 8px;
        height: 60px; } }
    footer .copy-right p {
      margin: 0 auto;
      opacity: 0.6; }
      @media screen and (max-width: 575.98px) {
        footer .copy-right p {
          font-size: 12px;
          margin-left: 12px;
          margin-right: 12px; } }

.model-menu {
  display: none; }

main.main-wrapper {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #20232C; }
  main.main-wrapper .iti--allow-dropdown {
    width: 100% !important; }
  main.main-wrapper .alert-primary {
    display: none; }
  main.main-wrapper .form-container {
    width: 97%;
    min-height: calc(100vh - 328px - 4rem);
    height: 750px;
    margin: 6rem auto 2rem;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0F1014; }
    @media screen and (max-width: 991.98px) {
      main.main-wrapper .form-container {
        width: 97%;
        flex-direction: column;
        margin: 0;
        height: auto; } }
    @media screen and (max-width: 1199.98px) {
      main.main-wrapper .form-container {
        margin: 5rem auto 2rem; } }
    main.main-wrapper .form-container .left {
      width: 35%;
      height: 100%;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: 0px 68%; }
      main.main-wrapper .form-container .left.extended {
        background-position: right; }
        @media screen and (max-width: 991.98px) {
          main.main-wrapper .form-container .left.extended {
            background-position: 0px 80%; } }
      @media screen and (max-width: 991.98px) {
        main.main-wrapper .form-container .left {
          width: 100%;
          height: 350px; } }
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        main.main-wrapper .form-container .left {
          width: 30%; } }
      main.main-wrapper .form-container .left .head {
        text-align: right;
        margin: 5rem; }
        @media screen and (max-width: 991.98px) {
          main.main-wrapper .form-container .left .head {
            margin: 5rem 2rem;
            text-align: left; } }
        @media screen and (min-width: 992px) and (max-width: 1199.98px) {
          main.main-wrapper .form-container .left .head {
            margin: 5rem 3rem; } }
        main.main-wrapper .form-container .left .head span {
          font-size: 1.3rem;
          letter-spacing: 3px; }
        main.main-wrapper .form-container .left .head h1 {
          position: relative;
          z-index: 10; }
          main.main-wrapper .form-container .left .head h1:after {
            content: '';
            width: 70px;
            height: 45px;
            background-color: #a60d2e;
            border: 1px solid #a60d2e;
            position: absolute;
            z-index: -10;
            right: -60px; }
            @media screen and (max-width: 991.98px) {
              main.main-wrapper .form-container .left .head h1:after {
                right: unset;
                height: 28px;
                left: -80px; } }
            @media screen and (min-width: 992px) and (max-width: 1199.98px) {
              main.main-wrapper .form-container .left .head h1:after {
                right: -40px;
                height: 33px;
                width: 55px; } }
    main.main-wrapper .form-container .right {
      width: 65%;
      height: 100%;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 991.98px) {
        main.main-wrapper .form-container .right {
          width: 90%;
          padding: 3rem 0; } }
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        main.main-wrapper .form-container .right {
          width: 70%; } }
      main.main-wrapper .form-container .right form {
        height: 100%;
        width: 100%; }
        main.main-wrapper .form-container .right form .tab-content {
          display: flex !important;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          height: 100%; }
          main.main-wrapper .form-container .right form .tab-content .form-section {
            width: 85%;
            height: 100%;
            margin: auto;
            display: none; }
            @media screen and (max-width: 991.98px) {
              main.main-wrapper .form-container .right form .tab-content .form-section {
                width: 100%; } }
            main.main-wrapper .form-container .right form .tab-content .form-section.current {
              display: block; }
            main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner {
              height: 95%;
              display: flex !important;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start; }
              main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-head {
                margin: 6rem 0;
                width: 100%; }
                @media screen and (max-width: 991.98px) {
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-head {
                    margin: 3rem 0; } }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-head h3 {
                  position: relative;
                  margin-bottom: 16px;
                  letter-spacing: 3px; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-head h3:after {
                    content: '';
                    width: 70px;
                    height: 5px;
                    background-color: #a60d2e;
                    border: 1px solid #a60d2e;
                    position: absolute;
                    bottom: 0;
                    left: 0; }
              main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content {
                width: 100%;
                display: flex !important;
                flex-direction: column;
                justify-content: flex-start;
                align-items: unset; }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .selected-model {
                  width: 70%;
                  display: none; }
                  @media screen and (max-width: 767.98px) {
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .selected-model {
                      width: 100%; } }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .selected-model .input-model {
                    display: none; }
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .selected-model .input-model .input-container {
                      position: relative;
                      display: none; }
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .selected-model .input-model .input-container .model-image {
                        background-size: 100% !important;
                        background-position: center;
                        width: 100%;
                        height: 240px;
                        transform: scaleX(-1); }
                        @media screen and (max-width: 991.98px) {
                          main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .selected-model .input-model .input-container .model-image {
                            height: 190px; } }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select {
                  flex-direction: row;
                  justify-content: space-between; }
                  @media screen and (max-width: 767.98px) {
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select {
                      flex-direction: column; } }
                  @media screen and (min-width: 768px) and (max-width: 991.98px) {
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select {
                      height: 300px; } }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select .selected-model {
                    display: block; }
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select .selected-model label {
                      margin-top: 16px;
                      position: relative; }
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select .selected-model label:after {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f00c";
                        width: 25px;
                        height: 25px;
                        background-color: #a60d2e;
                        border-radius: 50%;
                        position: absolute;
                        right: -40px;
                        display: flex !important;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        top: 50%;
                        transform: translateY(-50%); }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select .inputs {
                    flex-direction: column;
                    width: 25%;
                    height: auto; }
                    @media screen and (max-width: 767.98px) {
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select .inputs {
                        width: 100%;
                        flex-direction: row;
                        height: 300px; } }
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content.select .inputs .input-model {
                      width: 100%; }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container {
                  display: flex !important;
                  flex-direction: column;
                  justify-content: space-around;
                  align-items: center; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container .model-image {
                    width: 280px;
                    height: 100px;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
                    @media screen and (max-width: 575.98px) {
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container .model-image {
                        width: 220px; } }
                    @media screen and (min-width: 576px) and (max-width: 767.98px) {
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container .model-image {
                        width: 250px; } }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container label {
                    width: 160px;
                    height: 30px;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-size: 80% 50% !important;
                    background-position: center;
                    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }
                    @media screen and (max-width: 767.98px) {
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container label {
                        width: 140px;
                        height: 30px; } }
                    @media screen and (max-width: 1024px) {
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .input-container label {
                        width: 125px;
                        height: 28px; } }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs {
                  display: flex !important;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  height: 195px;
                  width: 100%; }
                  @media screen and (max-width: 767.98px) {
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs {
                      height: 500px;
                      flex-direction: column; } }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model:nth-child(2) label {
                    background-position: 90% 50% !important; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model {
                    width: calc(100% / 3);
                    height: 100%; }
                    @media screen and (max-width: 991.98px) {
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model {
                        width: 100%; } }
  @media screen and (max-width: 991.98px) and (max-width: 767.98px) {
    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model {
      height: calc(100% / 3) !important; } }
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model .input-container {
                      position: absolute;
                      width: 100%; }
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model .input-container .model-image {
                        background-size: contain !important; }
                        @media screen and (max-width: 991.98px) {
                          main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .input-model .input-container .model-image {
                            height: 70px; } }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .form-check {
                    cursor: pointer;
                    height: 100%;
                    display: flex !important;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0; }
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .form-check .form-check-input {
                      position: absolute;
                      opacity: 0;
                      cursor: pointer;
                      height: 100%;
                      width: 100%;
                      z-index: 31;
                      right: 0;
                      margin: 0; }
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .form-check .form-check-input:checked + .input-container .model-image {
                        width: 300px; }
                      main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .content .inputs .form-check .form-check-input:checked + .input-container .form-check-label {
                        background-color: #a60d2e !important; }
              main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-check {
                margin-bottom: 1rem; }
              main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner label {
                text-transform: capitalize; }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner label span {
                  color: #a60d2e; }
              main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-group {
                margin-bottom: 1.5rem; }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-group .form-control {
                  border-radius: 0;
                  border: 0;
                  -webkit-appearance: none;
                  -webkit-border-radius: 0;
                  padding-top: 0;
                  padding-bottom: 0; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-group .form-control::-webkit-contacts-auto-fill-button {
                    visibility: hidden;
                    display: none !important;
                    pointer-events: none;
                    position: absolute;
                    right: 0; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-group .form-control[type=email]::placeholder {
                    text-transform: none; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .form-group .form-control::placeholder {
                    text-transform: capitalize; }
              main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .buttons-inner {
                align-self: flex-end;
                margin-top: 40px; }
                @media screen and (max-width: 767.98px) {
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .buttons-inner {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%; } }
                main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .buttons-inner .btn {
                  padding: 0.5rem 2rem;
                  color: #fff; }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .buttons-inner .btn.prev-btn img {
                    transform: scaleX(-1); }
                  main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .buttons-inner .btn.next-btn {
                    background-color: #a60d2e; }
                  @media screen and (max-width: 767.98px) {
                    main.main-wrapper .form-container .right form .tab-content .form-section .form-section-inner .buttons-inner .btn {
                      padding: 0.5rem 1rem; } }
            main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-head {
              margin-bottom: 2rem; }
            main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              user-select: none; }
              main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0; }
                main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label input:checked ~ .checkmark {
                  background-color: #a60d2e; }
                  main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label input:checked ~ .checkmark:after {
                    display: block; }
              main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label .checkmark {
                position: absolute;
                top: 3px;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: #eee; }
                main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label .checkmark:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 9px;
                  top: 5px;
                  width: 5px;
                  height: 10px;
                  border: solid white;
                  border-width: 0 2px 2px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
              main.main-wrapper .form-container .right form .tab-content .form-section#news-section .form-check-label label {
                margin-left: 16px; }
            main.main-wrapper .form-container .right form .tab-content .form-section#beforeSubmit .form-head {
              margin-bottom: 2rem; }
            main.main-wrapper .form-container .right form .tab-content .form-section#beforeSubmit p {
              margin-bottom: 1.5rem;
              line-height: 2; }
            main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner {
              align-items: center;
              justify-content: center;
              width: 50%;
              margin: 0 auto; }
              @media screen and (max-width: 767.98px) {
                main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner {
                  width: 100%;
                  padding-bottom: 2rem; } }
              main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner .form-head {
                margin-top: 0; }
                @media screen and (max-width: 767.98px) {
                  main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner .form-head {
                    margin: 2rem 0; } }
                main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner .form-head h3 {
                  padding-bottom: 1rem !important;
                  font-size: 3rem;
                  text-align: center;
                  font-weight: bold; }
                  @media screen and (max-width: 767.98px) {
                    main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner .form-head h3 {
                      font-size: 2rem; } }
                  main.main-wrapper .form-container .right form .tab-content .form-section#lastSection .form-section-inner .form-head h3:after {
                    transform: translateX(-50%);
                    left: 50%; }

.iti__country-list {
  background-color: white !important; }

label.error {
  text-transform: none !important;
  color: red; }

#country-listbox {
  color: black; }

.iti {
  width: 100%; }
