$dark-hard: #0F1014;
$dark-meduim:#20232C;
$dark-semi: #1c1f2a;
$dark-easy: #3D404B;
$red-primary: #a60d2e;
$black:#000;
$white:#fff;

$gradient-level-1:#0F1014;
$gradient-level-2:#2E333C;
$gradient-level-3:#1E2027;
$gradient-level-5:#090A0B;
$gradient-level-4:#15161B;

$gray-easy: #f5f5f5;
// $secondary-red:#a60d2e;
$border-gray:rgba(222, 226, 230, 0.26);
$screen-width-breakpoint-0: 1920px;
$screen-width-breakpoint-1: 1366px;
$screen-width-breakpoint-2: 1226px;

$window-height: 100vh;
$header-offset: 4rem;
$resp-header-offset: 2.5rem;
$modelTitle-offset: 7rem;