#nf-form-2-cont {
    background-color: #20232c;
    min-height: calc(100vh - 316px - 3rem)
}

#nf-form-title-2 {
    display: block;
    background-image: url("../asset/images/general-inquiry-cover@2x.png");
    background-size: cover;
    width: 100%;
    height: 35%;
    background-position: 83% 0;
}

#nf-form-title-2 h3 {
    width: 100%;
    height: 100%;
    padding: 7rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 10%;
    font-size: 3rem;

}

.nf-form-fields-required {
    display: none;
}

.nf-form-wrap {
    width: 80%;
    margin-left: 10%;
    margin-top: -5%;
    background-color: #0f1014;
    padding: 3% 9%;

    @media screen and (max-width:767.98px) {
        margin-left: auto;
        margin-right: auto;
        padding: 3% 5%;
        width: 92%;
    }
}

.nf-form-cont {
    padding-bottom: 5%;
}

#nf-form-title-2 h3:before {
    content: " ALFA ROMEO \A";
    white-space: pre;
    font-weight: lighter;
    font-size: 16px;
    color: #b9bec5;
    line-height: 1.5;

}

#nf-form-title-2 h3:after {
    content: "";
    display: inline-block;
    background: #a5142d;
    width: 2%;
    height: 18%;
    margin-left: 1%;
}

/*--------------Form ---------------*/
.nf-field-element h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
}

.nf-field-label label,
li>label,
.ninja-forms-field {
    font-size: 1rem !important;
    font-weight: normal !important;
}

.nf-field-label label {
    text-align: initial;
}

.ninja-forms-field {
    height: initial !important;
    padding: 1px !important;
}

.nf-field-element:after {
    line-height: unset !important;
    height: 99% !important;
}

.nf-field-label {
    padding-right: 6% !important;
    width: 19.5% !important;
}

.nf-field-element>ul {
    display: flex;
}

#nf-field-13-wrap {
    flex-direction: row;
    flex-flow: inherit;
}

#nf-label-field-13 {
    width: max-content;
}

.nf-field-element {

    label {
        margin-right: 38px;

        &:after {
            width: 16px !important;
            height: 16px !important;
            left: -26px !important;
            top: 0 !important;
        }

        &:before {
            font-size: 16px !important;
            top: 3px !important;
            left: -23px !important;
            color: #a60d2e !important;

        }

        &#nf-label-field-16-0,
        &#nf-label-field-16-1,
        &#nf-label-field-16-2 {
            &:before {
                top: -1px !important;
                left: -26px !important;
            }
        }
    }
}




#nf-field-14-wrap>.nf-field-element {
    width: 80%;

    textarea {
        resize: none;
    }

    @media screen and (max-width:767.98px) {
        width: 100%;
    }
}

#nf-field-14 {
    height: 150px !important;
}

#nf-field-16-wrap .nf-field-element>ul {
    display: unset;
}

#nf-field-7 {
    background: #a5142d;
    padding: 5px 25px 5px 15px !important;
    pointer-events: none;
    opacity: 0.5;
}

#nf-field-17-wrap .nf-field-element,
#nf-field-15-wrap .nf-field-element {
    margin-right: 3%;
}

.square:last-child {
    display: none !important;
}

.nf-pass.field-wrap .nf-field-element:after {
    font-size: 25px !important;

}

//Success Msg

#nf-form-title-2 {
    display: block !important;
}

.nf-response-msg {
    margin-top: 20%;
    text-align: center;
    font-size: 1.1rem;
    height: 380px;
    display: inline-block;
    // position: absolute;
    width: 97%;
}

.nf-response-msg>p {
    text-align: center;
}

.nf-response-msg>p>span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 1rem !important;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-bottom: 16px;
    letter-spacing: 3px;

}

.nf-response-msg>p>span::after {
    transform: translateX(-50%);
    left: 50%;
    content: '';
    width: 70px;
    height: 5px;
    background-color: #a60d2e;
    border: 1px solid #a60d2e;
    position: absolute;
    bottom: 0;
}

.nf-response-msg>div {
    margin-top: 4.5rem;
    font-size: 18px;
    font-family: 'Apex New Light', sans-serif;
    text-align: center !important;
}

.nf-response-msg .back-to-home {
    display: inline-block;
    margin-top: 18%;
    background-color: #a5142d;
    width: fit-content;
    padding: 5px 25px 5px 15px;
    color: #f7f7f7;
    font-size: 1rem;
    font-weight: normal;
}

.back-to-home:hover {
    color: #787878;
    transition: all .5s;


}

.nf-error.field-wrap .nf-field-element:after {
    display: none;
}

.ninja-forms-field {
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
}

#nf-field-13-wrap .nf-field-label {
    width: 45% !important;

}

/*-----Mobile Plugin-----*/
.iti__country-list {
    color: black;
}

#nf-field-9 {
    padding-left: 52px !important;

}

#nf-field-9::after {
    display: none;
}

.iti {
    width: 100%;
}



/*-----------------Errors-------------------*/

.label-left .nf-after-field {
    margin-left: unset !important;
    text-align: center;
}

/*------------Responsive---------------*/
@media screen and (max-width: 767px) {

    #nf-field-13-wrap {
        flex-flow: column;
    }

    .nf-field-element>ul {
        display: unset;
    }
}


@media screen and (max-width:1024px) and(min-width:767px) {
    .nf-field-label {
        width: 25% !important;
    }
}

@media screen and (max-width:800px) {
    .nf-field-label {
        width: 60% !important;
    }
}

@media screen and (max-width:490px) {
    .nf-response-msg .back-to-home {
        margin-top: 12%;
    }
}